* { box-sizing: border-box; margin: 0; padding: 0; }

html{
    scroll-behavior: smooth;
}

:root{
    --nav:#e6ccb2;
    --bg1:#603808;
    --shadow1:#6f1d1b;
    --head1:#ff751f;
    --txt1:#a5a5a5;
    --sub1:#f0efec;

    --bg2:#ddbea9;
    --sub2:#8b5e34;
    --head2:#ffedd8;
    --txt2:#c4654d;
    --sub2:#a47148;
    --st2:#f3d5b5;

}
body{
    background-color: var(--bg1);
    min-width:100%;
    overflow-x: auto;

}
nav{
    align-items: center;
    background-color: var(--nav);
    display:flex;
    flex-direction: row;
    height:2rem;
    justify-content:space-between;
    position:fixed;
    width:100%;
}
#nav-bar{
    color:black;
    display:flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width:50%;
    padding: 1rem;
    top:0;
}
#nav-bar a{
    color:black;
    text-decoration: none;
}
.dropbtn{
    
}
#hero{
    color: var(--bg1);
    display: contents;

}
#about{}
#skill{}
#project{}
#contact{}